//------------------------------------------------------------
// Color variables
//------------------------------------------------------------
@colorAccent: #5294e2;

@border-medium: #dcdfe3;

@base-text: #231f20;

@colorSidebarBg: #353945;
@colorSidebarItemHover: rgba(186, 195, 207, 0.15);
@colorSidebarText: #bac3cf;
@colorSidebarTextDarker: fade(@colorSidebarText, 50%);
@colorSidebarTextLighter: lighten(@colorSidebarText, 5%);
@colorSidebarTextActive: #ffffff;

@threadlist: #ffffff;
@threadlist-hover: tint(@colorSidebarBg, 90%);
@threadlist-text-active: #ffffff;

@messagelist: #f5f6f7;
@messagearea: #ffffff;

@btn-bg-hover: lighten(@messagelist, 15%);
@btn-border-hover: #dddfe4;
@btn-bg-active: @colorAccent;
@btn-border-active: @colorAccent;
@btn-icon-active: #ffffff;

@default-btn-bg: #4dadd4;
@default-btn-bg-hover: #76c0de;
@default-btn-bg-active: #2e96c0;
@default-btn-text: #ffffff;

@prefs: @messagelist;
@prefs-body: #ffffff;
@prefs-tabs: @messagelist;
@prefs-tabs-hover: #fafbfb;
@prefs-tabs-active: #ffffff;

@warning-bar: darken(@messagelist, 5%);

@check-border: #a6adbc;

@colorWarningRed: #ed304b;
@colorWarningYellow: #ed8830;
