@import "arc-variables";

//------------------------------------------------------------
// Thread list toolbar
//------------------------------------------------------------
.toolbar-ThreadList {
	height: 100%;
	background: @threadlist;
	border-bottom: 1px solid @border-medium;
}

//------------------------------------------------------------
// Search box
//------------------------------------------------------------
.thread-search-bar {
	box-shadow: none;
	padding-left: 9px;

	//---------------------------------
	// Search box dropdown
	//---------------------------------
	.suggestions {
		.suggestion {
			color: fade(@base-text, 50%);

			&.selected {
				background-color: @accent;
			}

			&:hover:not(.selected) {
				background-color: @threadlist-hover;
			}

			.suggestion-token {
				color: @accent;
			}
		}

		.footer {
			background-color: @messagelist;
			border-color: @border-medium;
		}
	}
}

//------------------------------------------------------------
// Drafts/trash empty button header
//------------------------------------------------------------
.thread-list-empty-folder-bar {
	background-color: darken(@messagelist, 5%);
	border-bottom-color: @border-medium;

	.notice {
		color: @base-text;
	}
}
