//------------------------------------------------------------
// Color variables
//------------------------------------------------------------
@colorAccent: #5294e2;

@colorWindowBg: #383c4a;
@colorBodyBg: #404552;
@colorBodyBgDarker: darken(@colorBodyBg, 2%);
@colorBorder: #262a33;
@colorText: #bac3cf;
@colorTextFaded: fade(@colorText, 50%);
@colorWarningBar: darken(@colorWindowBg, 5%);

@colorSidebarBg: #353945;
@colorSidebarBorder: #2a2d37;
@colorSidebarItemHover: rgba(186, 195, 207, 0.15);
@colorSidebarText: #bac3cf;
@colorSidebarTextFaded: fade(@colorSidebarText, 50%);
@colorSidebarTextLighter: lighten(@colorSidebarText, 5%);
@colorSidebarTextActive: #ffffff;

@colorListBg: #404552;
@colorListItemHover: lighten(@colorListBg, 3%);
@colorListText: @colorText;
@colorListTextActive: #ffffff;
@colorListTextActiveFaded: fade(@colorListTextActive, 50%);

@colorBtnBgLight: #ffffff;
@colorBtnBorderLight: #cfd6e6;
@colorBtnBgActiveLight: @colorAccent;
@colorBtnBorderActiveLight: @colorAccent;

@colorBtnBgDark: #505666;
@colorBtnBorderDark: #2b2e39;
@colorBtnBgActiveDark: @colorAccent;
@colorBtnBorderActiveDark: #2b2e39;

@colorBtnDefaultBg: #4dadd4;
@colorBtnDefaultBgHover: #76c0de;
@colorBtnDefaultBgActive: #2e96c0;
@colorBtnDefaultText: #ffffff;

@colorBtnTextActive: #ffffff;

@colorPrefsWindowBg: @colorWindowBg;
@colorPrefsBodyBg: #ffffff;
@colorPrefsTabHover: fade(@colorPrefsBodyBg, 60%);
@colorPrefsTabActive: @colorPrefsBodyBg;

@colorCheckboxBorder: #a6adbc;

// @colorWarningRed: #ed304b;
// @colorWarningYellow: #ed8830;
@colorWarningRed: #f04a50;
@colorWarningYellow: #f27835;
