//------------------------------------------------------------
// Color variables
//------------------------------------------------------------

//---------------------------------
// Accent
//---------------------------------
@clrAccent: #5294e2;

//---------------------------------
// Sidebar
//---------------------------------
@clrSidebarBg: #353945;
@clrSidebarBorder: #2a2d37;
@clrSidebarHover: rgba(186, 195, 207, 0.15);
@clrSidebarText: #bac3cf;
@clrSidebarTextFaded: fade(@clrSidebarText, 50%);
@clrSidebarTextActive: #ffffff;
@clrSidebarBgActivity: darken(@clrSidebarBg, 5%);
@clrSidebarTextActivity: @clrSidebarText;
@clrSidebarScrollbar: #8a8e96;

@clrWarningRed: #f04a50;
@clrWarningYellow: #f27835;

@clrSidebarBtnBgHover: rgba(95, 105, 127, 0.37);
@clrSidebarBtnBorderHover: rgba(21, 23, 28, 0.37);
@clrSidebarBtnBgActive: @clrAccent;
@clrSidebarBtnBorderActive: @clrAccent;
@clrSidebarBtnText:rgba(207, 218, 231, 0.8);
@clrSidebarBtnTextActive: #ffffff;

//---------------------------------
// Window
//---------------------------------
@clrWindowBg: #383c4a;
@clrWindowBorder: #262a33;
@clrText: #bac3cf;
@clrTextFaded: fade(@clrText, 50%);
@clrTextFadedLess: fade(@clrText, 80%);
@clrTextFadedMore: fade(@clrText, 30%);
@clrTextActive: #ffffff;

@clrBodyBg: #404552;
@clrBodyBgDarker: darken(@clrBodyBg, 2%);
@clrWarningBar: lighten(@clrBodyBg, 5%);
@clrScrollBar: #767b87;

@clrToolBtnBgHover: rgba(95, 105, 127, 0.37);
@clrToolBtnBorderHover: rgba(21, 23, 28, 0.37);
@clrToolBtnBgActive: @clrAccent;
@clrToolBtnBorderActive: @clrAccent;
@clrToolBtnText:rgba(207, 218, 231, 0.8);
@clrToolBtnTextActive: #ffffff;

//---------------------------------
// Lists / Threadlist
//---------------------------------
@clrListBg: #404552;
@clrListHover: lighten(@clrListBg, 3%);
@clrListText: @clrText;
@clrListTextFaded: @clrTextFaded;
@clrListTextFadedLess: @clrTextFadedLess;
@clrListTextFadedMore: @clrTextFadedMore;
@clrListTextActive: #ffffff;
@clrListTextActiveFaded: fade(@clrListTextActive, 50%);
@clrListScrollbar: #767b87;
@clrListWarningBar: @clrWindowBg;

//---------------------------------
// Preferences
//---------------------------------
@clrPrefsWindowBg: @clrWindowBg;
@clrPrefsBodyBg: lighten(@clrPrefsWindowBg, 2%);
@clrPrefsTabHover: lighten(@clrPrefsWindowBg, 5%);
@clrPrefsTabActive: @clrPrefsBodyBg;
@clrPrefsText: @clrText;
@clrPrefsTextFaded: @clrTextFaded;
@clrPrefsTextFadedLess: @clrTextFadedLess;
@clrPrefsTextFadedMore: @clrTextFadedMore;
@clrPrefsTextActive: #ffffff;
@clrPrefsScrollbar: #767b87;
@clrPrefsWarningBar: lighten(@clrPrefsBodyBg, 5%);

//---------------------------------
// Activity dashboard
//---------------------------------
@clrDashboardBg: @clrListBg;
@clrDashboardText: @clrText;
@clrDashboardTextFaded: @clrTextFaded;
@clrDashboardTextFadedLess: @clrTextFadedLess;
@clrDashboardTextFadedMore: @clrTextFadedMore;
@clrDashboardWarningBar: lighten(@clrDashboardBg, 5%);
@clrDashboardScrollbar: #767b87;

//---------------------------------
// Controls
//---------------------------------
@clrInputBg: #404552;
@clrInputBorder: #2b2e39;
@clrInputText: #d3dae3;
@clrInputTextPlaceholder: fade(#d3dae3, 30%);

@clrButtonBg: #444a58;
@clrButtonBorder: #2b2e39;
@clrButtonBgHover: #505666;
@clrButtonBorderHover: #2b2e39;
@clrButtonBgActive: @clrAccent;
@clrButtonBorderActive: #2b2e39;
@clrButtonBgDisabled: fade(#444a58, 55%);
@clrButtonBorderDisabled: fade(#2b2e39, 55%);
@clrButtonText: #d3dae3;
@clrButtonTextActive: #ffffff;
@clrButtonTextDisabled: fade(#d3dae3, 45%);

@clrButtonDefaultBg: #4dadd4;
@clrButtonDefaultBorder: #4dadd4;
@clrButtonDefaultBgHover: #76c0de;
@clrButtonDefaultBorderHover: #76c0de;
@clrButtonDefaultBgActive: #2e96c0;
@clrButtonDefaultBorderActive: #2e96c0;
@clrButtonDefaultText: #ffffff;

@clrSliderTrackBg: #2d303b;
@clrSliderButtonBg: #444a58;
@clrSliderButtonBorder: #262933;
@clrSliderButtonBgHover: #505666;
@clrSliderButtonBorderHover: #262933;
@clrSliderButtonBgActive: @clrAccent;
@clrSliderButtonBorderActive: @clrAccent;

//------------------------------------------------------------
// LESS mixins
//------------------------------------------------------------
.arc-control(@image, @size) {
	width: @size;
	height: @size;
	background-image: @image;
	background-color: transparent;
	background-size: @size @size;
	border: none;
	border-radius: 0;
}




@colorAccent: #5294e2;

@colorWindowBg: #383c4a;
@colorBodyBg: #404552;
@colorBodyBgDarker: darken(@colorBodyBg, 2%);
@colorBorder: #262a33;

@colorListBg: #404552;
