//------------------------------------------------------------
// Color variables
//------------------------------------------------------------

//---------------------------------
// Accent
//---------------------------------
@clrAccent: #5294e2;

@clrWarningRed: #f04a50;
@clrWarningYellow: #f27835;

@clrLink: #a9caf1;
@clrLinkVisited: #7eafe9;

//---------------------------------
// Sidebar
//---------------------------------
@clrSidebarBg: #353945;
@clrSidebarBorder: #2a2d37;
@clrSidebarHover: rgba(186, 195, 207, 0.15);
@clrSidebarText: #bac3cf;
@clrSidebarTextFaded: fade(@clrSidebarText, 50%);
@clrSidebarTextActive: #ffffff;
@clrSidebarBgActivity: darken(@clrSidebarBg, 3%);
@clrSidebarTextActivity: @clrSidebarText;

@clrSidebarBtnBgHover: rgba(95, 105, 127, 0.37);
@clrSidebarBtnBorderHover: rgba(21, 23, 28, 0.37);
@clrSidebarBtnBgActive: @clrAccent;
@clrSidebarBtnBorderActive: @clrAccent;
@clrSidebarBtnText:rgba(207, 218, 231, 0.8);
@clrSidebarBtnTextActive: #ffffff;

//---------------------------------
// Window
//---------------------------------
@clrWindowBg: #383c4a;
@clrWindowBorder: #262a33;
@clrTitlebarBorder: #262a33;
@clrText: #bac3cf;
@clrTextFaded: fade(@clrText, 50%);
@clrTextFadedLess: fade(@clrText, 80%);
@clrTextFadedMore: fade(@clrText, 15%);
@clrTextActive: #ffffff;

@clrBodyBg: #404552;
@clrWarningBar: lighten(@clrBodyBg, 5%);
@clrTranslateBar: darken(@clrBodyBg, 3%);

@clrToolBtnBgHover: rgba(95, 105, 127, 0.37);
@clrToolBtnBorderHover: rgba(21, 23, 28, 0.37);
@clrToolBtnBgActive: @clrAccent;
@clrToolBtnBorderActive: @clrAccent;
@clrToolBtnText:rgba(207, 218, 231, 0.8);
@clrToolBtnTextActive: #ffffff;
@clrToolBtnTextDisabled: rgba(207, 218, 231, 0.35);

//---------------------------------
// Lists / Threadlist
//---------------------------------
@clrListBg: #404552;
@clrListHover: lighten(@clrListBg, 3%);
@clrListText: @clrText;
@clrListTextFaded: @clrTextFaded;
@clrListTextFadedLess: @clrTextFadedLess;
@clrListTextFadedMore: @clrTextFadedMore;
@clrListTextActive: #ffffff;
@clrListTextActiveFaded: fade(@clrListTextActive, 50%);

//---------------------------------
// Preferences
//---------------------------------
@clrPrefsWindowBg: @clrWindowBg;
@clrPrefsBodyBg: lighten(@clrPrefsWindowBg, 2%);
@clrPrefsTabHover: lighten(@clrPrefsWindowBg, 5%);
@clrPrefsTabActive: @clrPrefsBodyBg;
@clrPrefsText: @clrText;
@clrPrefsTextFaded: @clrTextFaded;
@clrPrefsTextFadedLess: @clrTextFadedLess;
@clrPrefsTextFadedMore: @clrTextFadedMore;
@clrPrefsTextActive: #ffffff;
@clrPrefsWarningBar: lighten(@clrPrefsBodyBg, 5%);

//---------------------------------
// Activity dashboard
//---------------------------------
@clrDashboardBg: @clrListBg;

//---------------------------------
// Controls
//---------------------------------
@clrInputBg: #404552;
@clrInputBorder: #2b2e39;
@clrInputText: #d3dae3;
@clrInputTextPlaceholder: fade(#d3dae3, 30%);

@clrButtonBg: #444a58;
@clrButtonBorder: #2b2e39;
@clrButtonBgHover: #505666;
@clrButtonBorderHover: #2b2e39;
@clrButtonBgActive: @clrAccent;
@clrButtonBorderActive: #2b2e39;
@clrButtonBgDisabled: fade(#444a58, 55%);
@clrButtonBorderDisabled: fade(#2b2e39, 55%);
@clrButtonText: #d3dae3;
@clrButtonTextActive: #ffffff;
@clrButtonTextDisabled: fade(#d3dae3, 45%);

@clrButtonDefaultBg: #4dadd4;
@clrButtonDefaultBorder: #4dadd4;
@clrButtonDefaultBgHover: #76c0de;
@clrButtonDefaultBorderHover: #76c0de;
@clrButtonDefaultBgActive: #2e96c0;
@clrButtonDefaultBorderActive: #2e96c0;
@clrButtonDefaultText: #ffffff;

@clrButtonInfoBg: fade(@clrListTextActive, 0%);
@clrButtonInfoBorder: fade(@clrListTextActive, 50%);
@clrButtonInfoBgHover: fade(@clrListTextActive, 20%);
@clrButtonInfoBorderHover: fade(@clrListTextActive, 80%);
@clrButtonInfoBgActive: @clrTextActive;
@clrButtonInfoBorderActive: @clrTextActive;
@clrButtonInfoText: @clrTextActive;
@clrButtonInfoTextActive: @clrAccent;

@clrSliderTrackBg: #2d303b;
@clrSliderButtonBg: #444a58;
@clrSliderButtonBorder: #262933;
@clrSliderButtonBgHover: #505666;
@clrSliderButtonBorderHover: #262933;
@clrSliderButtonBgActive: @clrAccent;
@clrSliderButtonBorderActive: @clrAccent;

@clrPopoverBg: #383c4a;
@clrPopoverBorder: #20222a;
@clrPopoverBgHover: @clrAccent;
@clrPopoverText: #d3dae3;
@clrPopoverTextFaded: fade(@clrPopoverText, 60%);
@clrPopoverTextActive: #ffffff;
@clrPopoverTextActiveFaded: fade(@clrPopoverTextActive, 60%);

@clrToastBg: #353945;
@clrToastBorder: #1f2128;
@clrToastText: @clrText;
@clrToastTextActive: @clrTextActive;
@clrToastButtonBg: #444a58;
@clrToastButtonBorder: #2b2e39;
@clrToastButtonBgHover: #505666;
@clrToastButtonBorderHover: #2b2e39;
@clrToastButtonBgActive: @clrAccent;
@clrToastButtonBorderActive: #2b2e39;

//------------------------------------------------------------
// Image variables
//------------------------------------------------------------
@imgCheckChecked: url(mailspring://Arc-Dark/styles/images/controls/checkbox-checked-dark.png);
@imgCheckUnchecked: url(mailspring://Arc-Dark/styles/images/controls/checkbox-unchecked-dark.png);
@imgCheckCheckedSelected: url(mailspring://Arc-Dark/styles/images/controls/checkbox-checked-selected.png);
@imgRadioChecked: url(mailspring://Arc-Dark/styles/images/controls/radio-checked-dark.png);
@imgRadioUnchecked: url(mailspring://Arc-Dark/styles/images/controls/radio-unchecked-dark.png);

@imgBtnClose: url(mailspring://Arc-Dark/styles/images/window-buttons/titlebutton-close-dark.png);
@imgBtnCloseHover: url(mailspring://Arc-Dark/styles/images/window-buttons/titlebutton-close-hover-dark.png);
@imgBtnCloseActive: url(mailspring://Arc-Dark/styles/images/window-buttons/titlebutton-close-active-dark.png);
@imgBtnCloseBackdrop: url(mailspring://Arc-Dark/styles/images/window-buttons/titlebutton-close-backdrop-dark.png);

//------------------------------------------------------------
// LESS mixins
//------------------------------------------------------------
.arc-control(@image, @size) {
	width: @size;
	height: @size;
	background-image: @image;
	background-color: transparent;
	background-size: @size @size;
	border: none;
	border-radius: 0;
}

.arc-scrollbar() {
	@trackBg: #3e434f;
	@trackBorder: #2b2e39;
	@sliderOverlay: #a5abb5;
	@sliderNormal: #767b87;
	@sliderHover: #676b78;
	@sliderActive: #5294e2;

	background: transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	width: 12px;
	padding: 3px 0px 3px 6px;

	.scrollbar-handle {
		background: @sliderOverlay;
		border: none;
		border-radius: 3px;
		opacity: 0.4;
	}

	&:hover,
	&.dragging {
		background: @trackBg;
		border-left: 1px solid @trackBorder;
		padding-left: 3px;
		padding-right: 2px;

		.scrollbar-handle { opacity: 0.99; }
	}

	&:hover:not(.dragging) {
		.scrollbar-handle {
			background: @sliderNormal;

			&:hover { background: @sliderHover; }
		}
	}

	&.dragging {
		.scrollbar-handle { background: @sliderActive; }
	}
}

.arc-scrollbar-sidebar() {
	@trackBg: rgba(42, 45, 55, 0.95);
	@trackBorder: rgba(42, 45, 55, 0.95);
	@sliderOverlay: #e7eaee;
	@sliderNormal: rgba(231, 234, 238, 0.7);
	@sliderHover: #f6f7f9;
	@sliderActive: #5294e2;

	background: transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	width: 12px;
	padding: 3px 0px 3px 6px;

	.scrollbar-handle {
		background: @sliderOverlay;
		border: none;
		border-radius: 3px;
		opacity: 0.4;
	}

	&:hover,
	&.dragging {
		background: @trackBg;
		border-left: 1px solid @trackBorder;
		padding-left: 3px;
		padding-right: 2px;

		.scrollbar-handle { opacity: 0.99; }
	}

	&:hover:not(.dragging) {
		.scrollbar-handle {
			background: @sliderNormal;

			&:hover { background: @sliderHover; }
		}
	}

	&.dragging {
		.scrollbar-handle { background: @sliderActive; }
	}
}
