@import "arc-variables";

//------------------------------------------------------------
// Draft list area
//------------------------------------------------------------
.column-DraftList {
	background: @clrListBg;

	// Needed to fake bottom border for drafts toolbar
	border-top: 5px solid @clrWindowBg;

	.draft-list {
		border-top: 1px solid @clrWindowBorder;
	}
}

//------------------------------------------------------------
// Draft items
//------------------------------------------------------------
.draft-list .list-container .list-item {
	background-color: @clrListBg;
	border-bottom: 1px solid @clrWindowBorder;
	color: @clrListText;

	.participants.no-recipients {
		color: @clrListTextFadedLess;
	}

	.checkmark .inner {
		.arc-control(url(mailspring://Arc-Dark/styles/images/controls/checkbox-unchecked-dark.png), 16px);
	}

	&:hover {
		background-color: @clrListHover;
	}

	&.selected {
		.checkmark .inner {
			.arc-control(url(mailspring://Arc-Dark/styles/images/controls/checkbox-checked-dark.png), 16px);
		}
	}

	&.keyboard-cursor {
		border-left-color: @clrAccent;
	}
}

//------------------------------------------------------------
// Scroll bar
//------------------------------------------------------------
.draft-list .scrollbar-track {
	background: @clrListBg;
	border-left: none;
	width: 10px;

	.scrollbar-handle {
		background: @clrListScrollbar;
		border: none;
	}
}
